/*body und container nicht löschen*/
body {
    font-family: 'Calistoga', cursive;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

}

#container {
    display: grid;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: 80px auto;
    grid-template-areas: 
        "header header header"
        "contend contend contend"
        "footer footer footer";

    border-top: 10px;    
    ;
}

/*Alles für den Header*/
#header {
    background-color: rgb(255, 154, 2);
    grid-area: header;

    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;



}

nav {
    text-align: center;
    
    font-size: 200%;
}
.navhome {
    padding-right: 10%;
}
.navblog {
    padding-right: 10%;
}
.naverstellen {
    padding-right: 10%;
}

.menu {
    list-style-type: none;
    display: flex;

    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*Hier ist der Hauptteil*/

#contend {
    background-color: black;
    grid-area: contend;
    color: rgb(255, 154, 2);
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

/*Das darunter kann von Seite zu Seite anders sein*/
.willkommenstext {
    font-size: 140%;
}


/*Alles für den footer*/

#footer {
    grid-area: footer;
    background-color: rgb(255, 154, 2);
    text-align: center; 
    font-size: 140%; 

    padding-bottom: 30px;

}

#links-kollegen {
    list-style-type: none;
    text-align: center;
    border-left: 10px;  
    border-right: 10px;
    border-bottom: 10px;
    border-top: 10px; 

}

/*CSS für die Blogbeiträge*/
.post {
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(230, 139, 4);
    padding-bottom: 5px;
}

.post-text {
    margin-top: 10px;
    font-size: 1.2em;
    padding-bottom: 10px;
}

/*links und Übertitel*/
h2 {
    margin-bottom: 2px;
}
a:hover {
    color: darkred;
}
a{
    color: black;
}
